/*
Lauren Lee and Micah Higashi
ITM 352
18 April 2019
Professor Kazman

This page documents the overarching CSS styles used in our Assignment 3 web application.
*/
html {
    background-color: #b7d9f7;    
}

body {
    max-width: 750px;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: .5em;
    margin-bottom: 0.5em;
}

main {
    grid-row: 2;
    padding: .5em;
    margin-bottom: 0.5em;
}

footer {
    grid-row: 3;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: .5em;
    
}

.backgroundPlatform {
    background-color: snow;
}